.icon-user_report_2_02{background-image: url('../sprite.png');background-position: -55px 0px;width:38px;height:32px;}
.icon-user_report_2_04{background-image: url('../sprite.png');background-position: -147px -39px;width:31px;height:31px;}
.icon-user_report_2_05{background-image: url('../sprite.png');background-position: 0px -99px;width:39px;height:27px;}
.icon-user_report_2_06{background-image: url('../sprite.png');background-position: 0px 0px;width:45px;height:39px;}
.icon-user_report_4_12{background-image: url('../sprite.png');background-position: -55px -42px;width:34px;height:34px;}
.icon-user_report_4_13{background-image: url('../sprite.png');background-position: 0px -49px;width:32px;height:40px;}
.icon-user_report_4_14{background-image: url('../sprite.png');background-position: -147px 0px;width:34px;height:29px;}
.icon-user_report_4_15{background-image: url('../sprite.png');background-position: -147px -80px;width:29px;height:31px;}
.icon-user_report_4_16{background-image: url('../sprite.png');background-position: -49px -99px;width:34px;height:24px;}
.icon-user_report_4_17{background-image: url('../sprite.png');background-position: -93px -99px;width:26px;height:17px;}
.icon-user_report_5_04{background-image: url('../sprite.png');background-position: -103px 0px;width:34px;height:32px;}
.icon-user_report_5_05{background-image: url('../sprite.png');background-position: -103px -42px;width:33px;height:32px;}
.icon-user_report_5_06{background-image: url('../sprite.png');background-position: 0px -136px;width:27px;height:33px;}
